@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 0.5vw;
  }

  ::-webkit-scrollbar-track {
    background: #fafafa;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(155, 28, 28, 0.441);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #414141;
  }